<li class="h-cart">
    <a class="cart-contents" href="cart.html">
        <p class="h-cart-icon">
            <i class="ion-android-cart"></i>
            <span>1</span>
        </p>
        <p class="h-cart-total">$100</p>
    </a>
    <div class="widget_shopping_cart">
        <div class="widget_shopping_cart_content">
            <ul class="cart_list">
                
                <li>
                    <a href="#" class="remove">&times;</a>
                    <a href="#">
                        <img src="https://via.placeholder.com/250" alt="">
                        Producto
                    </a>
                    <span class="quantity">1 &times; $100</span>
                </li>
                
            </ul>
            <p class="total"><b>Subtotal:</b> $100</p>
            <p class="buttons">
                <a href="#" class="button">Ver Carrito</a>
                <a href="#" class="button">Pedido</a>
            </p>
        </div>
    </div>
</li>